@using GamifyFitness.Models
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="jumbotron text-center">
    <h1>Gamify Fitness</h1>
    <h2>Login</h2>
</div>



<body>
    <div class="container text-center">
        <section id="loginForm">
            @*@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="form-group">
                    @Html.LabelFor(user => user.Email, new { @class = "col-md-2 custom-control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                        @Html.ActionLink("Register as a new user", "Register", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            }*@
            

            @*<div class="col-md-8 offset-md-2 pt-5">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Email Address" aria-label="Email Address" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-md-4 col-lg-3 offset-md-2 offset-lg-2">
                <button class="button btn-block">Login</button>
                <button class="button btn-block">Create New Account</button>
            </div>*@
        </section>
        
    </div>
</body>

